# version_1
numpy
pandas
matplotlib
seaborn
torch
transformers
sentence-transformers
chromadb
openai-whisper
speechrecognition
soundfile

# version_2
flask
langchain
langchain_huggingface
langchain_chroma
langchain_community